<div id="pages-tree"></div>
<input type='button' id="new-node" value="Nueva página" />
<input type='button' id="new-section" value="Nueva sección" />


<form id="page-creation" title='Create page' style="display:none">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
  <label for="permalink">Permalink</label>
  <input type="text" name="permalink" id="permalink" class="text ui-widget-content ui-corner-all" />
</form>
